body{
	margin: 0px;
	font-family: 'Raleway';
}

header{
	width: 100%;
	height: 130px;
}

header img{
	height: 50px;
	width: auto;
	margin-left: 85px;
	margin-top: 40px;
}

header .navbar-content{
	float: right;
	margin-right: 30px;
	font-weight: 600;
	font-size: 18px;
}

header .navbar-nav{
	height: 100px;
	padding: 0px;
	margin: 0;
}

header .navbar-item{
	position: relative;
	float: left;
	margin: 0px;
	padding: 50px;
	padding-bottom: 0px;
	list-style-type: none;
}

header .navbar-item:hover{
	box-shadow: 0 2px 0 #0065FC inset;
	cursor: pointer;
}

header .navbar-item a{
	text-decoration: initial;
	transition: color 0.2s linear;
	color: black;
}

header .navbar-item a:hover{
	color: #0065FC;
}

#search_zone{
	margin-top: 0px;
	margin-left: 60px;
	margin-right: 60px;
}

#search_zone .catch_line h1{
	font-size: 25px;
	font-weight: 700;
}

#search_zone .catch_line p{
	margin-top: -10px;
	font-size: 18px;
}

#search_zone .search_bar{
	display: flex;
	height: 55px;
}

#search_zone .search_bar .button_grey{
	width: 60px;
	background-color: #F2F2F2;
	border: none;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
}

#search_zone .search_bar .button_grey:hover{
	cursor: pointer;
}

#search_zone .search_bar img{
	height: 22px;
	width: auto;
}

#search_zone .search_bar .button_search{
	width: 260px;
	border: 1px solid #F2F2F2;
	border-radius: 0;
	color: black;
	font-size: 20px;
	padding: 20px;
}

#search_zone .search_bar .button_search:focus{
	outline: none;
}

#search_zone .search_bar .button_search::-webkit-search-cancel-button{
	display: none;
}

#search_zone .search_bar .button_blue{
	background-color: #0065FC;
	width: 150px;
	color: white;
	font-size: 20px;
	border: none;
	border-top-right-radius: 18px;
	border-bottom-right-radius: 18px;
}

#search_zone .search_bar .button_blue:hover{
	cursor: pointer;
}

#search_zone .filter{
	display: flex;
	margin-top: 35px;
}

#search_zone .filter h2{
	font-size: 20px;
	font-weight: 600;
}

#search_zone .filter button{
	margin-left: 30px;
	padding-right: 20px;
	padding-left: 20px;
	border-radius: 50px;
	background-color: white;
	border: 2px solid #D9D9D9;
	font-family: 'Raleway';
	font-size: 20px;
	font-weight: 600;
}

#search_zone .filter button:hover{
	cursor: pointer;
}

#search_zone .information{
	display: flex;
	align-items: center;
	margin-top: 35px;
}

#search_zone .information .img_border{
	border: 1px solid #D9D9D9;
	border-radius: 50%;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

#search_zone .information img{
	height: 12px;
	width: 10px;
	filter: invert(28%) sepia(57%) saturate(5503%) hue-rotate(211deg) brightness(98%) contrast(103%);
}

#search_zone .information p{
	margin-left: 10px;
	font-size: 18px;
}

#accommodation{
	margin-top: 30px;
	margin-left: 60px;
	margin-right: 60px;
	display: flex;
}

#accommodation .accommodation_marseille{
	height: auto;
	width: 65%;
	/* padding: 40px; */
	padding-top: 20px;
	border-radius: 20px;
	background-color: #F2F2F2;
}

#accommodation .accommodation_marseille h1{
	font-size: 25px;
	font-weight: 600;
	margin-left: 50px;
}

#accommodation .accommodation_marseille .flexMarseille{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding-left: 10px;
	padding-right: 10px;
}

#accommodation .accommodation_marseille span{
	display: flex;
	flex-direction: column;
	height: auto;
	width: 27%;
	min-width: 200px;
	margin-bottom: 40px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 6px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
}

#accommodation .accommodation_marseille img{
	height: 140px;
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	object-fit: cover;
}

#accommodation .accommodation_marseille h2{
	margin: 10px;
	margin-left: 15px;
	font-size: 20px;
	font-weight: 600;
}

#accommodation .accommodation_tendance{
	height: auto;
	width: 30%;
	margin-left: 60px;
	padding-top: 20px;
	border-radius: 20px;
	background-color: #F2F2F2;
}

#accommodation .accommodation_tendance h1{
	font-size: 25px;
	font-weight: 600;
	margin-left: 50px;
}

#accommodation .accommodation_tendance .boxTendance{
	display: flex;
	height: auto;
	width: auto;
	min-width: 200px;
	margin-bottom: 40px;
	margin-left: 45px;
	margin-right: 45px;
	padding: 6px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.15);
}

#accommodation .accommodation_tendance img{
	height: 180px;
	width: 36%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	object-fit: cover;
}

#accommodation .accommodation_tendance .boxTendance span h2{
	margin: 10px;
	margin-left: 15px;
	font-size: 24px;
	font-weight: 600;
}

#accommodation .accommodation_tendance .boxTendance span p{
	margin: 10px;
	margin-left: 15px;
	font-size: 18px;
}